@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Oswald;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

image {
  vertical-align: middle;
}

section {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

#back-top {
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#back-top i {
  font-size: 1.3rem;
}

.main_middel {
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid black;
}

.top-header {
  width: 100%;
}

.top-header .flex-top-header {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 3fr 1fr;
      grid-template-columns: 1.3fr 3fr 1fr;
  -ms-grid-rows: 74.8px 74.8px;
      grid-template-rows: 74.8px 74.8px;
}

.top-header .flex-top-header .genaral {
  border: 0.1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .flex-top-header .box1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.top-header .flex-top-header .box1 img {
  width: 100px;
  height: 100px;
}

.top-header .flex-top-header .box2 {
  border-top: 0;
  border-right: 0;
  padding: 15px 0 15px 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.top-header .flex-top-header .box2 i {
  padding-right: 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.top-header .flex-top-header .box3 {
  border-right: 0;
  border-top: 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 10px 0 10px 40px;
}

.top-header .flex-top-header .box3 li {
  padding-right: 30px;
}

.top-header .flex-top-header .box3 li a {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.top-header .flex-top-header .box3 li a:nth-last-child(2) {
  margin-right: 5px;
}

.top-header .flex-top-header .box4 {
  border-top: 0;
  border-right: 0;
  padding: 20px 10px 20px 20px;
}

.top-header .flex-top-header .box4 i {
  font-size: 1.3rem;
}

.top-header .flex-top-header .box4 > i {
  margin-right: 20px;
}

.top-header .flex-top-header .box4 div {
  margin-left: 10px;
}

.footer-top {
  width: 100%;
}

.footer-top .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer-top .content-footer #brand-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-top .content-footer #brand-footer img {
  width: 170px;
}

.footer-top .content-footer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.footer-top .content-footer .box .flex-service-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 30px 100px 30px 90px;
}

.footer-top .content-footer .box .flex-service-text2 p:nth-child(1) {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-top .content-footer .box .flex-service-text2 .tag_p {
  margin: 20px 0;
  padding-right: 70px;
}

.footer-top .content-footer .box .flex-service-text2 > h1 {
  text-transform: uppercase;
  font-size: 60px;
}

.footer-top .content-footer .box .flex-service-text2 div img {
  margin: 10px 0;
  max-width: 250px;
  -webkit-filter: brightness(0%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
          filter: brightness(0%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.footer-top .content-footer .box2-footer {
  background: url("./image/jonathan-borba-5G9uIkAXLSc-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.footer-center {
  background-color: black;
}

.footer-center .content-footer-center {
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 60px 0;
}

.footer-center .content-footer-center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-center .content-footer-center div .image-footer-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid white;
  width: 100%;
  padding: 20px 40px;
}

.footer-center .content-footer-center div .image-footer-center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-center .content-footer-center div .image-footer-center div img {
  width: 62px;
  height: 62px;
  margin-right: 20px;
}

.footer-center .content-footer-center div .image-footer-center div p {
  color: white;
}

.footer-center .content-footer-center div .image-footer-center div p label {
  display: inline-block;
  padding-bottom: 7px;
}

.footer-center .content-footer-center div .part1 div img {
  width: 62px;
  height: 80px;
}

.footer-center .content-footer-center div .part2, .footer-center .content-footer-center div .part1 {
  border-right: 0px;
}

.footer-center .content-footer-center div .part3 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-center .content-footer-center div .part3 div i {
  font-size: 1.5em;
  color: white;
  padding-right: 1.7rem;
}

@media only screen and (max-width: 768px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footer-top .content-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-top .content-footer .box2-footer {
    height: 368px;
  }
  .footer-center .content-footer-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-center .content-footer-center div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-center .content-footer-center div .image-footer-center {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-center .content-footer-center div .image-footer-center div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-center .content-footer-center div .image-footer-center div img {
    width: 62px;
    height: 62px;
    margin-right: 20px;
  }
  .footer-center .content-footer-center div .image-footer-center div p {
    color: white;
  }
  .footer-center .content-footer-center div .image-footer-center div p label {
    display: inline-block;
    padding-bottom: 7px;
  }
  .footer-center .content-footer-center div .part1 div img {
    width: 62px;
    height: 80px;
  }
  .footer-center .content-footer-center div .part1, .footer-center .content-footer-center div .part2 {
    border-right: 1px solid white;
    border-bottom: 0px;
  }
  .footer-center .content-footer-center div .part-3 div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-center .content-footer-center div .part-3 div i {
    font-size: 1.5em;
    color: white;
    padding-right: 1.7rem;
  }
}
/*# sourceMappingURL=comment.css.map */