$background_nav:rgb(177, 122, 122);
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    max-width: 1200px;
    margin: 0 auto;
    background-color: $background_nav;
}
.content_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    div{
       background-color: yellowgreen;
       padding: 10px;
       
    }
    ul{
       margin-right: 10px;
    }
    ul li{
        list-style-type: none;
        display: inline-block;
        padding-right: 20px;
        
    }
    ul li a{
        text-decoration: none;
        color: yellow;
        display: block;
        &::first-letter{
            text-transform: capitalize;
        }
      
    }
    
    
}
