@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Oswald;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

image {
  vertical-align: middle;
}

section {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

#big_img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(1, 1, 1, 0.5);
  text-align: center;
}

#big_img img {
  display: inline-block;
  width: 900px;
  max-width: 700px;
}

#big_img #next {
  position: absolute;
  top: 100px;
  right: 150px;
  color: white;
  cursor: pointer;
}

#big_img #next i {
  font-size: 2rem;
}

#back-top {
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#back-top i {
  font-size: 1.3rem;
}

.top-header {
  width: 100%;
}

.top-header .flex-top-header {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 3fr 1fr;
      grid-template-columns: 1.3fr 3fr 1fr;
  -ms-grid-rows: 74.8px 74.8px;
      grid-template-rows: 74.8px 74.8px;
}

.top-header .flex-top-header .genaral {
  border: 0.1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .flex-top-header .box1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.top-header .flex-top-header .box1 img {
  width: 100px;
  height: 100px;
}

.top-header .flex-top-header .box2 {
  border-top: 0;
  border-right: 0;
  padding: 15px 0 15px 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.top-header .flex-top-header .box2 i {
  padding-right: 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.top-header .flex-top-header .box3 {
  border-right: 0;
  border-top: 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 10px 0 10px 40px;
}

.top-header .flex-top-header .box3 li {
  padding-right: 30px;
}

.top-header .flex-top-header .box3 li a {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.top-header .flex-top-header .box3 li a:nth-last-child(2) {
  margin-right: 5px;
}

.top-header .flex-top-header .box4 {
  border-top: 0;
  border-right: 0;
  padding: 20px 10px 20px 20px;
}

.top-header .flex-top-header .box4 i {
  font-size: 1.3rem;
}

.top-header .flex-top-header .box4 > i {
  margin-right: 20px;
}

.top-header .flex-top-header .box4 div {
  margin-left: 10px;
}

.main-center {
  max-width: 1170px;
  margin: 0 auto;
}

.main-center article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-center article .image-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  cursor: pointer;
}

.main-center article .image-left a {
  width: 100%;
}

.main-center article .image-left a img {
  width: 100%;
  height: 100%;
}

.main-center article .content-right {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 100%;
  margin-bottom: 100px;
}

.main-center article .content-right div h2 {
  font-size: 50px;
  line-height: 1;
}

.main-center article .content-right div h3 {
  font-size: 28px;
  font-family: inherit;
  font-weight: 400;
}

.main-center article .content-right div p {
  padding: 1.2em 0;
}

.main-center article .content-right div form {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-center article .content-right div form input {
  width: 80px;
  height: 60px;
  border: 0;
  text-align: center;
  outline: 0;
}

.main-center article .content-right div form a {
  color: white;
  background-color: black;
  padding: 13px 30px;
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.comment-user {
  max-width: 1170px;
  margin: 0 auto;
  border-top: 0.2px solid black;
  margin-top: 50px;
  padding: 30px 0;
}

.comment-user .heade-main h1 {
  text-transform: uppercase;
  font-size: 80px;
}

.comment-user .heade-main nav {
  text-align: center;
  margin-bottom: 40px;
}

.comment-user .heade-main nav li {
  display: inline-block;
}

.comment-user .heade-main nav li a {
  margin-left: 10px;
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 5px;
}

.comment-user .heade-main nav li a:hover {
  border-bottom: 2px solid black;
}

.comment-user .heade-main li:nth-child(1) a {
  color: #c7a17a;
  border-color: #c7a17a;
  border-bottom: 2px solid  #c7a17a;
}

.comment-user .heade-main .list_comment_parent {
  margin-bottom: 50px;
}

.comment-user .heade-main .list_comment_parent .list_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  padding: 1rem 0;
  border-bottom: 0.1px solid gray;
}

.comment-user .heade-main .list_comment_parent .list_comment img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 20px;
}

.comment-user .heade-main .list_comment_parent .list_comment p i {
  font-weight: 400;
  text-transform: capitalize;
}

.comment-user .heade-main .list_comment_parent .list_comment p label {
  font-weight: 200;
  display: inline-block;
}

.comment-user .heade-main .list_comment_parent .list_comment p label::first-letter {
  text-transform: uppercase;
}

.comment-user .heade-main .list_comment_parent .list_comment p label, .comment-user .heade-main .list_comment_parent .list_comment p i {
  padding-bottom: 0.50rem;
}

.comment-user .heade-main .create_comment > p {
  font-family: inherit;
  font-size: 1.3em;
}

.comment-user .heade-main .create_comment > p::first-letter {
  text-transform: uppercase;
}

.comment-user .heade-main .create_comment form > p, .comment-user .heade-main .create_comment form > div {
  margin-bottom: 0.5ems;
}

.comment-user .heade-main .create_comment form input[type=submit] {
  padding: 16px 30px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid black;
  outline: 0;
  letter-spacing: 3px;
  font-size: 1.0rem;
  cursor: pointer;
}

.comment-user .heade-main .create_comment form div {
  margin: 10px 0;
}

.comment-user .heade-main .create_comment form div label {
  display: inline-block;
}

.comment-user .heade-main .create_comment form div label::first-letter {
  text-transform: uppercase;
}

.comment-user .heade-main .create_comment form div textarea {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 0.1px solid black;
  padding: 0.75em 0;
}

.comment-user .heade-main .create_comment form div textarea:focus {
  border-bottom: 0.1px solid #c7a17a;
}

.comment-user .heade-main .create_comment form .input_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-user .heade-main .create_comment form .input_email div {
  display: inline-block;
  width: 100%;
}

.comment-user .heade-main .create_comment form .input_email div p {
  font-family: 1.1rem;
}

.comment-user .heade-main .create_comment form .input_email div p::first-letter {
  text-transform: uppercase;
}

.comment-user .heade-main .create_comment form .input_email div .class_input {
  display: inline-block;
  width: 100%;
  padding: 0.5em 0;
  border: 0;
  border-bottom: 0.1px solid black;
  outline: 0;
  padding: 10px 0;
}

.comment-user .heade-main .create_comment form .input_email div .class_input:focus {
  border-bottom: 0.1px solid #c7a17a;
}

.related_product .grid-bottom {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.33333%)[3];
      grid-template-columns: repeat(3, 33.33333%);
  text-align: center;
}

.related_product .grid-bottom li > a:nth-child(1) {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.related_product .grid-bottom li > a:nth-child(1) img {
  width: 100%;
  height: auto;
}

.related_product .grid-bottom li > a:nth-child(1) h2 {
  color: black;
  text-transform: uppercase;
}

.related_product .grid-bottom li > a:nth-child(1) p {
  color: black;
  font-weight: 400;
}

.related_product .grid-bottom li > a:nth-child(1) p label {
  padding-top: 4px;
  font-size: 1.1rem;
  font-family: inherit;
  word-spacing: 5px;
}

.related_product .grid-bottom li:hover > a:nth-child(1) {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.related_product .grid-bottom li #hello {
  color: black;
  width: 100%;
  padding: 10px 0;
  background-color: black;
  color: white;
  border: 0.1px solid white;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  visibility: hidden;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.related_product .grid-bottom li #hello:hover {
  background-color: white;
  border: 0.1px solid black;
  color: black;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.related_product .grid-bottom li:hover #hello {
  visibility: visible;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.footer-top {
  width: 100%;
}

.footer-top .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer-top .content-footer #brand-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-top .content-footer #brand-footer img {
  width: 170px;
}

.footer-top .content-footer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.footer-top .content-footer .box .flex-service-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 30px 100px 30px 90px;
}

.footer-top .content-footer .box .flex-service-text2 p:nth-child(1) {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-top .content-footer .box .flex-service-text2 .tag_p {
  margin: 20px 0;
  padding-right: 70px;
}

.footer-top .content-footer .box .flex-service-text2 > h1 {
  text-transform: uppercase;
  font-size: 60px;
}

.footer-top .content-footer .box .flex-service-text2 div img {
  margin: 10px 0;
  max-width: 250px;
  -webkit-filter: brightness(0%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
          filter: brightness(0%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.footer-top .content-footer .box2-footer {
  background: url("./image/jonathan-borba-5G9uIkAXLSc-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.footer-center {
  background-color: black;
}

.footer-center .content-footer-center {
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 60px 0;
}

.footer-center .content-footer-center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-center .content-footer-center div .image-footer-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid white;
  width: 100%;
  padding: 20px 40px;
}

.footer-center .content-footer-center div .image-footer-center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-center .content-footer-center div .image-footer-center div img {
  width: 62px;
  height: 62px;
  margin-right: 20px;
}

.footer-center .content-footer-center div .image-footer-center div p {
  color: white;
}

.footer-center .content-footer-center div .image-footer-center div p label {
  display: inline-block;
  padding-bottom: 7px;
}

.footer-center .content-footer-center div .part1 div img {
  width: 62px;
  height: 80px;
}

.footer-center .content-footer-center div .part2, .footer-center .content-footer-center div .part1 {
  border-right: 0px;
}

.footer-center .content-footer-center div .part3 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-center .content-footer-center div .part3 div i {
  font-size: 1.5em;
  color: white;
  padding-right: 1.7rem;
}

@media only screen and (max-width: 768px) {
  .grid-bottom {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footer-top .content-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-top .content-footer .box2-footer {
    height: 368px;
  }
  .footer-center .content-footer-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-center .content-footer-center div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-center .content-footer-center div .image-footer-center {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-center .content-footer-center div .image-footer-center div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-center .content-footer-center div .image-footer-center div img {
    width: 62px;
    height: 62px;
    margin-right: 20px;
  }
  .footer-center .content-footer-center div .image-footer-center div p {
    color: white;
  }
  .footer-center .content-footer-center div .image-footer-center div p label {
    display: inline-block;
    padding-bottom: 7px;
  }
  .footer-center .content-footer-center div .part1 div img {
    width: 62px;
    height: 80px;
  }
  .footer-center .content-footer-center div .part1, .footer-center .content-footer-center div .part2 {
    border-right: 1px solid white;
    border-bottom: 0px;
  }
  .footer-center .content-footer-center div .part-3 div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-center .content-footer-center div .part-3 div i {
    font-size: 1.5em;
    color: white;
    padding-right: 1.7rem;
  }
}
/*# sourceMappingURL=view_detail.css.map */